body{
	font-family: 'Montserrat', sans-serif;
	margin: 0px;
}

.main-buttons{
  height:50px;
  width:100px;
  margin:10px;
  border-radius: 10px;

}

.menu {
  background: rgba(0, 0, 0, 0.5);
}
.menu li {
  display:inline-block;
  padding:10px;
  font-size:16px;
  font-weight:bold;
}
div.main {
  margin:10px auto;
  border: 4px solid gray;
  width:50%;
  height:50%;
  padding:10px;
  border-radius: 24px  5px 24px 5px;
}
div.answers li {
  display:inline-block;
  padding:10px;
  font-size:16px;
  font-weight:bold;
  margin:0px auto;  

}
div.answers ol {
  border: 2px solid gray;
  margin: 0px auto;
}
div.answers {
  margin:3px;
  position:fixed;
  bottom:0;
}
